body {
	background: #dddad5;
	color: #1a2930;
	margin-top: 5rem;
	font-weight: 500;
}

.bg-table-gray {
	background-color:#505050;
	color: #dddad5;
}

.bg-nav-gray {
    background-color: #6b6b6e;
}

.button-yellow{
	background-color: #f7ce3e;
	color:#1a2930;
}

.button-dark{
	background-color: #c3beb6;
}

.button {
	border-radius: 50px;
}
