body {
	background: #dddad5;
	color: #1a2930;
	margin-top: 5rem;
	font-weight: 500;
}

.bg-navgray {
    background-color: #6b6b6e;
}

a:active{
	color: #f7ce3e;
}

.nav-link.active {
	font-weight: 500;
	color: #f7ce3e;
}