{% load static %}
{% url 'invoice-home' as invoice %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'invoice/main.css' %}">

    {% if title %}
      <title>Payment System-{{ title }}</title>
    {% else %}
      <title>Payment System</title>
    {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-nav-gray fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4 font-weight-bold"">PAYMENT SYSTEM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="nav navbar-nav navbar-right">
          <a class="nav-item nav-link {% if request.path == invoice %} active {% endif %}" href="{% url 'invoice-home' %}">Invoice</a>
          <a class="nav-item nav-link" href = "#" >Receipt</a>
          <a class="nav-item nav-link" href = "#" >Payment</a>
          <a class="nav-item nav-link" href = "#" >Log Out</a>
        </div> 
      </div>
    </nav>
  </header>

  <div>
    {% block invoice %}{% endblock %}
    {% block detail %}{% endblock %}
  </div>
</body>
</html>