{% extends 'invoice/base.html' %}
{% load static %}

{% block invoice %}
<!-- Unapproved Invoice Table -->
<div class="m-5">
  <h5 class="m-3 font-weight-bold">Invoices to be Approved</h5>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm" cellspacing="0">
        <thead class="bg-table-gray">
            <tr>
              <th class="text-center">Invoice ID</th>
              <th class="text-center">Vendor Name</th>
              <th class="text-center">Department</th>
              <th class="text-center">Amount Owned</th>
              <th class="text-center">Issued date</th>
            </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %} <!-- Looping through items in list which was in view's context -->
            {% if invoice.first_CFO_approved == False or invoice.second_CFO_approved == False  %}
            <tr>
              <td class="text-center">
                <a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark"> <!-- Goes to invoice's details page when it is clicked -->
                  {{invoice.invoice_id}}
                </a>
              </td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.get_vendor_name}}</a></td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.department}}</a></td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.amount_owned}}</a></td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.date}}</a></td>
            </tr>
            {% endif %}                
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<!-- Approved Invoice Table -->
<div class="m-5">
  <h5 class="m-3 font-weight-bold">Approved Invoices</h5>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm" cellspacing="0">
        <thead class="bg-table-gray">
            <tr>
              <th class="text-center">Invoice ID</th>
              <th class="text-center">Vendor Name</th>
              <th class="text-center">Department</th>
              <th class="text-center">Amount Owned</th>
              <th class="text-center">Approved date</th>
            </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %} <!-- Looping through items in list which was in view's context -->
            {% if invoice.first_CFO_approved == True and invoice.second_CFO_approved == True  %}
            <tr>
              <td class="text-center">
                <a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark"> <!-- Goes to invoice's details page when it is clicked -->
                  {{invoice.invoice_id}}
                </a>
              </td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.get_vendor_name}}</a></td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.department}}</a></td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.amount_owned}}</a></td>
              <td class="text-center"><a href="{% url 'invoice-detail' invoice.pk %}" class="text-dark">{{invoice.approved_date}}</a></td>
            </tr>
            {% endif %}                
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="fixed-bottom mt-4 mb-2 mr-2" style='background-color:transparent'>
  <div>
    <button type="button" class="button button-yellow text-center font-weight-bold float-right py-2 px-3 border-0 ">
      New Invoice
    </button>
</div>
{% endblock %}