{% extends "invoice/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mx-auto w-75 mb-4 bg-light">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 d-inline">
                    Add Invoice
                    <a href="{% url 'invoice-home' %}" class="close float-right mr-3">
                        <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </a>
                </legend>
                {{ UploadInvoiceForm|crispy }}
              </table>
            </fieldset>
            <div class="form-group float-right d-inline">                   
                <button class="btn button button-yellow border-0 font-weight-bold py-2 px-3" type="submit" data-toggle="modal" data-target="#AddItemModal">Save and Continue</button>                 
            </div>
        </form>
    </div> 
</div>


<!-- Modal of AddItemForm-->
<div class="modal fade" id="AddItemModal" tabindex="-1" role="dialog" aria-labelledby="AddItemModalTitle" data-backdrop="static" data-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddItemModal">Add Item of the Invoice</h5>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %} <!--Security measure to prevent CSRF attacks-->
          {{ AddItemForm|crispy }}
        </div>
        <div class = 'modal-footer'>
          <button class="btn button button-yellow border-0 font-weight-bold py-2 px-3" type="submit" name="additem">Add Item</button>
          <button class="btn button button-yellow border-0 font-weight-bold py-2 px-3" type="submit" name="upload">Upload </button>
        </div>
      </form>
    </div>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}