{% extends "invoice/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mx-auto w-75 mb-4 bg-light">
    <div class="card-body">
        <form method="POST">
          {% if UploadInvoiceForm %}
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 d-inline">
                    Add Invoice
                    <a href="{% url 'invoice-home' %}" class="close float-right mr-3">
                        <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </a>
                </legend>
                {{ UploadInvoiceForm|crispy }}
              </table>
            </fieldset>
            <div class="form-group float-right d-inline">                   
                <button class="btn button button-yellow border-0 font-weight-bold py-2 px-3" type="submit">Save and Continue</button>                 
            </div>
          {% endif %}

          {% if AddItemForm %}
          {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 d-inline">
                    Add Item of the Invoice
                    <a href="{% url 'invoice-home' %}" class="close float-right mr-3">
                        <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </a>
                </legend>
                {{ AddItemForm|crispy }}
              </table>
            </fieldset>
            <div class="form-group d-inline">                   
              <button class="btn button button-yellow border-0 font-weight-bold py-2 px-3" type="submit" name="additem">Add Item</button>             
            </div>
          {% endif %}
        </form>
        {% if UploadButton %}
          <button class="btn button button-yellow border-0 font-weight-bold py-2 px-3 float-right" href="{% url 'invoice-home' %}">Upload </button>
        {% endif %} 
    </div> 
</div>
{% endblock %}