{% extends 'invoice/base.html' %}
{% load static %}
{% block content %}
<div class="card mx-auto w-75 bg-light">
    <div class="card-body">
        <legend class="d-inline">Invoice {{ object.original_invoice_id }}</legend> 
            <a href="{% url 'invoice-edit-home' %}" class="close float-right mr-3">
                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
            </a>
        <p class= "text-muted">{{ object.get_department }} Department</p>
        <hr>
        <p>Issued Date: {{ object.get_date }}</p>
        <p>Due Date : {{ object.due_date }}</p>
        <p>Vendor : {{ object.get_vendor_name }}</p>
        <pre>         {{ object.get_vendor_address }}</pre>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">Item</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object.get_item_list %}
                    <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.unit_price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total_price }}</td>
                    </tr>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <th>Subtotal</th>
                    <td>{{ object.amount_charged }}</td>
                    </tr>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Tax (%)</th>
                    <td>{{ object.tax }}</td>
                    </tr>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Amount Owed</th>
                    <td>{{ object.amount_owed }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
        <small><i>Edited by {{ object.get_editor_name }}</i></small><br>

    </div>
</div>
<div class="text-center m-3">
    <a class=" d-inlinebtn button-yellow font-weight-bold border-0 button py-2 px-5 mx-3" href="{% url 'invoice-deny-edit' object.pk %}"> 
        Deny 
    </a>
    <a class="d-inline btn button-yellow font-weight-bold border-0 button py-2 px-5 mx-3" href="{% url 'invoice-approve-edit' object.pk %}"> 
        Approve 
    </a>
</div>
{% endblock %}