{% extends 'base.html' %}
{% load static %}

{% block content %}

<ul class="list-group">
{% for notification in notifications %}

    {% if notification.notification_type == 1 %}
        {% if notification.success %}
            <a href = "{url 'invoice-detail' notification.invoice.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <h5 class="mb-1">Invoice Approved Succesfully</h5>
                    <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><button type="button" class="btn-close" aria-label="Close"></button></i></a>
                </div>
                <p>{{ invoice.invoice_id }} has been approved for payment</p>
                <small>{{ notification.date|timesince }}</small>
            </a>
        {% else %}
            <a href = "{url 'invoice-detail' notification.invoice.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <h5 class="mb-1">Invoice Payment Required</h5>
                    <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><button type="button" class="btn-close" aria-label="Close"></button></a>
                </div>
                <p>{{ invoice.invoice_id }} has been created and requires approvement for payment</p>
                <small>{{ notification.date|timesince }}</small>
            </a>
    {% elif notification.notification_type == 2 %}
        {& if notification.invoice %}
            {% if notification.success %}
                <a href = "{url 'invoiceedit-detail' notification.invoiceedit.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex">
                        <h5 class="mb-1">New Invoice Edit Requested</h5>
                        <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><button type="button" class="btn-close" aria-label="Close"></button></a>
                    </div>
                    <p>{{ invoice.invoice_id }} has been approved for payment</p>
                    <small>{{ notification.date|timesince }}</small>
                </a>
            {% else %}
                <a href = "{url 'invoiceedit-detail' notification.invoiceedit.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex">
                        <h5 class="mb-1">Invoice Payment Required</h5>
                        <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><i class="material-icons">delete</i></a>
                    </div>
                    <p>{{ invoice.invoice_id }} has been created and requires approvement for payment</p>
                    <small>{{ notification.date|timesince }}</small>
                </a>
            {% endif %}
        {& elif notification.receipt %}
            {% if notification.success %}
                <a href = "{url 'receiptedit-detail' notification.receipt.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex">
                        <h5 class="mb-1">Invoice Approved Succesfully</h5>
                        <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><button type="button" class="btn-close" aria-label="Close"></button></a>
                    </div>
                    <p>{{ invoice.invoice_id }} has been approved for payment</p>
                    <small>{{ notification.date|timesince }}</small>
                </a>
            {% else %}
                <a href = "{url 'receiptedit-detail' notification.invoice.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex">
                        <h5 class="mb-1">Invoice Payment Required</h5>
                        <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><i class="material-icons">delete</i></a>
                    </div>
                    <p>{{ invoice.invoice_id }} has been created and requires approvement for payment</p>
                    <small>{{ notification.date|timesince }}</small>
                </a>
            {% endif %}
        {% if notification.success %}
            <a href = "{url 'invoice-detail' notification.invoice.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <h5 class="mb-1">Invoice Approved Succesfully</h5>
                    <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><button type="button" class="btn-close" aria-label="Close"></button></a>
                </div>
                <p>{{ invoice.invoice_id }} has been approved for payment</p>
                <small>{{ notification.date|timesince }}</small>
            </a>
        {% else %}
            <a href = "{url 'invoice-detail' notification.invoice.pk}" class="notification-item list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <h5 class="mb-1">Invoice Payment Required</h5>
                    <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><i class="material-icons">delete</i></a>
                </div>
                <p>{{ invoice.invoice_id }} has been created and requires approvement for payment</p>
                <small>{{ notification.date|timesince }}</small>
            </a>
    {% endif %}

    {% elif notification.notification_type == 3 %}
    <li class="collection-item avatar">
        {% if notification.sender.profile.picture %}
            <img src="{{ notification.sender.profile.picture.url }}" class="circle responsive-img">
        {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
        {% endif %}
            <span class="title">{{ notification.sender.first_name }} {{ notification.sender.last_name }}</span>
            <p><b>@{{ notification.sender.username }}</b></p>
            <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><i class="material-icons">delete</i></a>
            <p style="font-style: italic;"><b>Subscribed to you!</b></p>
        </li>
    {% endif %}

    {% empty %}
    <div class="center-align">
        <br><br><br>
        <h3>No notifications</h3>
        <h5>Your inbox is empty</h5>
        <br><br><br><br><br>
    </div>
{% endfor %}
</ul>

{% endblock %}