{% extends 'invoice/base.html' %}
{% load static %}
{% block content %}
<div class="card mx-auto w-75 bg-light">
    <div class="card-body">
        <legend class="d-inline">Receipt {{ object.receipt_id }}</legend> 
            <a href="{% url 'receipt-home' %}" class="close float-right mr-3">
                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
            </a>
        <p class= "text-muted">{{ object.department }} Department</p>
        <hr>
        <p>Paid Date : {{ object.date }}</p>
        <p>Amount Paid : {{ object.get_amount_paid }}</p>
        <p>Invoice ID: {{ object.get_invoice_id }}</p>
        <p>Vendor : {{ object.get_vendor_name }}</p>
        <pre>         {{ object.get_vendor_address }}</pre>

        <small><i>Uploaded by {{ object.get_uploader_name }}</i></small><br>

    </div>
</div>
<!-- <div class="text-center m-3 form-group">
    <a class="btn button-yellow font-weight-bold border-0 button py-2 px-5 mx-2" href="{% url 'receipt-edit' object.pk %}"> 
        Edit 
    </a>
</div> -->
<div class="text-center m-3 form-group">
    <a class="btn button-yellow font-weight-bold border-0 button py-2 px-5 mx-2" href="{% url 'receipt-edit' object.pk %}"> 
        Edit 
    </a>
    <a class="btn button-yellow font-weight-bold border-0 button py-2 px-5 mx-2" href="{% url 'receipt-edit-request' object.pk %}"> 
        Make Edit Request
    </a>
</div>
{% endblock %}