{% extends 'invoice/base.html' %}
{% load static %}
{% block content %}
<div class="m-5">
    <h5 class="m-3 mt-5 font-weight-bold">Receipt Edits</h5>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm" cellspacing="0">
          <thead class="bg-table-gray">
              <tr>
                <th class="text-center">Edited Receipt ID</th>
                <th class="text-center">Invoice ID</th>
                <th class="text-center">Vendor Name</th>
                <th class="text-center">Department</th>
                <th class="text-center">Date</th>
                <th class="text-center">Amount Paid (RM)</th>
              </tr>
          </thead>
          <tbody>
            {% for edit in receipt_edits %}
              <tr>
                <td class="text-center"><a href="{% url 'receipt-edit-detail' edit.pk %}" class="text-dark">{{edit.original_receipt_id}}</a></td>
                <td class="text-center"><a href="{% url 'receipt-edit-detail' edit.pk %}" class="text-dark">{{edit.get_invoice_id}}</a></td>
                <td class="text-center"><a href="{% url 'receipt-edit-detail' edit.pk %}" class="text-dark">{{edit.get_vendor_name}}</a></td>
                <td class="text-center"><a href="{% url 'receipt-edit-detail' edit.pk %}" class="text-dark">{{edit.get_department}}</a></td>
                <td class="text-center"><a href="{% url 'receipt-edit-detail' edit.pk %}" class="text-dark">{{edit.date}}</a></td>
                <td class="text-center"><a href="{% url 'receipt-edit-detail' edit.pk %}" class="text-dark">{{edit.get_amount_paid}}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}